.footer {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
  }

  &__logo {
    margin-bottom: 60px;
  }

  &__nav {
    margin-bottom: 30px;
  }

  &__hr {
    width: 100%;
    height: 1px;
    background-color: $grey;
  }

  &__postscript {
    padding-block: 30px;
  }
}
