$black: #000000;
$level1: #181823;
$lightGrey: #deecf9;
$darkGrey: #c7e0f4;
$text: #fff;
$primary: #5221e6;
$greenAccent: #3cc74e;
$pinkAccent: #e95d90;
$peachAccent: #fff3e4;
$violetAccent: #fbe4ff;
