.mainveiw {
  display: flex;
  position: relative;

  &__background {
    flex: 0 1 750px;
    position: relative;
    transform: translateX(44px);
    img {
      width: 750px;
      height: 650px;
      object-fit: cover;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 650px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    // width: clamp(320px, 53.1vw, 738px);
    flex: 0 0 clamp(320px, 53.1vw, 738px);
    transform: translateX(-44px);
  }
  &__title {
    font-size: clamp(32px, 7.3vw, 78px);
    font-weight: 700;
  }
  &__desc {
    font-size: 18px;
    line-height: 150%;
  }
}
